<!-- newuser.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <h1>Créer un nouveau compte</h1>
    <form action="/newuser/" method="POST">
        <label for="username">Identifiant :</label>
        <input type="text" id="username" name="username" required>
        <label for="username">Mot de passe :</label>
        <input type="text" id="password" name="password" required>
        <button type="submit">Envoyer</button>
    </form>

</body>
</html>
